@import url('https://fonts.googleapis.com/css?family=Cinzel|Nanum+Myeongjo|News+Cycle|Pacifico|Playfair+Display+SC|Poiret+One|Red+Hat+Text&display=swap');
  h1{
    font-family: 'Playfair Display SC', serif;
    color: rgb(0, 68, 128);
    font-size: 60px;
    text-align: center;
  }

  nav li a{
    text-decoration: none;
  }
  body{
    background-color: aliceblue;
  }
  footer{
  width:auto;
  height:auto;
  background-color:lightblue;
  margin:0 auto;
}
  header{
  width:auto;
  height:auto;
  background-color:lightblue;
  margin:0 auto;
  padding-bottom:20px;
  padding-top:10px;
  padding-right: 8px;
  padding-left: 8px;
  }
  nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  padding: 0px;
  }

  nav{
  background-color: steelblue;
  width: auto;
  margin: 0 auto;
  border-width: 3px;
  border-style: solid;
  border-color: steelblue;
  font-family: 'Poiret One', cursive;
  text-align: center;
  }



  #yes img{
    width:1000px;
    display: block;
    margin: 0 auto;
  }
    #grid20{
          width: 2000px;
          height: auto;
          display:grid;
          grid-template-rows: 190px 120px ;
          grid-template-columns:280px 480px 280px;
          grid-column-gap:140px;
          padding-top:120px;
          padding-bottom:320px;
          padding-left:65px;
          margin: 0 auto;
        }

    #grid20 img{
          width: 250px;
        }
        #foot img{
          display: block;
          margin: 0 auto;
          width: 1000px;
        }
        p{
          font-family: 'Red Hat Text', sans-serif;
          font-size: 15px;
          color: rgb(0, 54, 102);
        }
