@import url('https://fonts.googleapis.com/css?family=Cinzel|Nanum+Myeongjo|News+Cycle|Pacifico|Playfair+Display+SC|Poiret+One|Red+Hat+Text&display=swap');    body{
        background-color: aliceblue;
      }
      nav ul li{
      list-style: none;
      display: inline-block;
      margin-right: 15px;
      padding: 0px;
      }

      nav li a{
        text-decoration: none;
      }
      nav{
      background-color: steelblue;
      width: auto;
      margin: 0 auto;
      border-width: 3px;
      border-style: solid;
      border-color: steelblue;
      font-family: 'Poiret One', cursive;
      text-align: center;
      }

      header{
      width:auto;
      height:auto;
      background-color:lightblue;
      margin:0 auto;
      padding-bottom:20px;
      padding-top:10px;
      padding-right: 8px;
      padding-left: 8px;
      }
      #foot{
        padding-left: 180px;
      }
      #grid7{
            width: auto;
            height: auto;
            margin: 3 auto;
            display:grid;
            grid-template-rows: 190px 120px ;
            grid-template-columns:580px 180px;
            grid-column-gap:120px;
            padding-top:20px;
            padding-bottom:250px;
            padding-left:120px;

          }
      #grid7 img{
            width:400px;
          }
          h1{
            font-family: 'Playfair Display SC', serif;
            color: rgb(0, 68, 128);
            font-size: 60px;
            text-align: center;
          }
     p{
       font-family: 'Red Hat Text', sans-serif;
       font-size: 15px;
       color: rgb(0, 54, 102);
     }
     footer{
     width:auto;
     height:auto;
     background-color:lightblue;


     }
     #foot img{
       display: block;
       margin: 0 auto;
       width: 1000px;
     }
     #hello img{
       width: 1000px;
       display: block;
       margin: 0 auto;
     }
     #topp img{
       width: 1000px;
       display: block;
       margin: 0 auto;
     }
