@import "desktop.css";

header{
width: 380px;
}

main{
width: 380px;
}

footer{
width: 380px;
}

nav ul li{
display: block;
text-align: center;
}

#grid1{
width: 380px;
display: block;
}
#grid2, #grid3{
width: 80px;
display: block;
}

#grid1 img{
width: 380px;
  display: block;
  margin: 0 auto;
}
#grid2 img{
  width: 260px;

}
#grid3 img{
  width: 260px;


}
#map{
  padding-left: 0px;
  width: 380px;
}
#map img{
  width: 380px;
}
#starthere img{
  width: 380px;
}
#foot img{
width: 380px;
}
#top img{
  width: 380px;
  display: block;
  margin: 0 auto;
}
