@import url('https://fonts.googleapis.com/css?family=Cinzel|Nanum+Myeongjo|News+Cycle|Pacifico|Playfair+Display+SC|Poiret+One|Red+Hat+Text&display=swap');
  h1{
    font-family: 'Playfair Display SC', serif;
    color: rgb(0, 68, 128);
    font-size: 60px;
    text-align: center;
  }
  body{
    background-color: aliceblue;
  }

  nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  padding: 0px;
  }

 nav li a{
   text-decoration: none;
 }
  nav{
  background-color: steelblue;
  width: auto;
  margin: 0 auto;
  border-width: 3px;
  border-style: solid;
  border-color: steelblue;
  font-family: 'Poiret One', cursive;
  text-align: center;
  }

  header{
  width:auto;
  height:auto;
  background-color:lightblue;
  margin:0 auto;
  padding-bottom:20px;
  padding-top:10px;
  padding-right: 8px;
  padding-left: 8px;
  }

  main{
    width: 1060px;
  /*  height: 500px;*/
    height:0 auto;
    background-color:aliceblue;
    margin:0 auto;
    padding-bottom:20px;
    padding-top:20px;
    padding-right: 8px;
    padding-left: 8px;
  }
  footer{
  width:auto;
  height:auto;
  background-color:lightblue;
  margin:0 auto;

  }
#grid9{
      width: auto;
      height: auto;
      margin: 3 auto;
      display:grid;
      grid-template-rows: 40px 120px ;
      grid-template-columns:680px 80px;
      grid-column-gap:150px;
      padding-top:20px;
      padding-bottom:200px;
      padding-left:100px;

    }
#grid9 img{
      width:350px;
    }

    #grid10{
          width: auto;
          height: auto;
          margin: 3 auto;
          display:grid;
          grid-template-rows: 190px 120px ;
          grid-template-columns:250px 580px 70px;
          grid-column-gap:50px;
          padding-top:20px;
          padding-bottom:90px;
          padding-left:100px;

        }
    #grid10 img{
          width:240px;
        }
      

        #grid11{
              width: auto;
              height: auto;
              margin: 3 auto;
              display:grid;
              grid-template-rows: 120px 120px ;
              grid-template-columns:280px 680px;
              grid-column-gap:100px;
              padding-top:20px;
              padding-bottom:70px;
              padding-left:110px;

            }

        #grid11 img{
              width:300px;
            }

            #grid12{
                  width: auto;
                  height: auto;
                  margin: 3 auto;
                  display:grid;
                  grid-template-rows: 10px  ;
                  grid-template-columns:680px 280px;
                  grid-column-gap:150px;
                  padding-top:20px;

                  padding-left:260px;

                }

            #grid12 img{
                  width:190px;
                }
              #grid30{
                padding-left: 100px;
              }
              #grid30 img{
                width: 750px;
              }

              #grid60 img{
                width:800px
              }
              #pink img{
                width:500px;
              }
            #hey img{
              width:1000px;
              display: block;
              margin: 0 auto;
            }
            #hi img{
              width:500px;
            }
            #rome img{
              width:500px;
            }
            #foot img{
              display: block;
              margin: 0 auto;
              width: 1000px;
            }

    p{
      font-family: 'Red Hat Text', sans-serif;
      font-size: 15px;
      color: rgb(0, 54, 102);
    }
