@import "desktop.css";

header{
width: 380px;
}

main{
width: 380px;
margin: 0 auto;
}

footer{
width: 380px;
}

nav ul li{
display: block;
text-align: center;
}
#hey img{
  width:380px;
  display: block;
  margin: 0 auto;
  padding-left: 0;
}
#hi img{
  width:200px;
padding-left: 0;

}
#grid9{
width:380px;
display: block;
margin: 0 auto;
padding-left: 0;
padding-bottom: 0px;
}
#grid30 img{
  width: 380px;
  padding-top: 0px;
  padding-left: 0;
}
#grid30 {
  width: 380px;
  padding-top: 0px;
  padding-left: 0;
}

#pink img{
  width:200px;

  padding-top: 20px;
  padding-left: 0;
}
#grid10 img{
      width:200px;
      padding-left: 0;
    }
#grid10{
  width: 380px;
  display: block;
  padding-left: 0;
}
#rome img{
  width:200px;
  padding-left: 0;
}
#grid11{
  width: 380px;
  display: block;
  padding-left: 0;
}
#grid12{
  width: 380px;
  display: block;
  padding-left: 0;
}
#grid60 img{
  width: 380px;

  padding-left: 0;
}
#foot img{
width: 380px;
display: block;
padding-left: 0;
margin: 0 auto;
}
